* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111222;
  font-family: poppins;
}

.sec-01{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  color: #fff;
  width: 100%;
  justify-content: center;
}

h2 {
  text-align: center;
}

.image{
  background: url(./img.jpg);
  height: 400px;
  flex-basis: 400px;
  flex-grow: 1;
  max-width: 500px;
  background-size: cover;
  border-radius: 1rem
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.text-box{
  position: relative;
  width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(20px);
  transform: translate(-50px, 50px)
}

@media screen and (max-width: 600px) {
  .sec-01{
    overflow: hidden;
  }
  
  .content{
    flex-direction: column;
    gap: 2rem;
  }
  
  .text-box{
    transform: translate(0px, 0px);
    width: fit-content;
    margin: 0px;
  }
  
  .sec-01{
    min-height: 100vh;
  }
}
